// Menu
.menu-button {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeout;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeout;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(180deg);
        
        .btn-line{
            //bttn 1
            &:nth-child(1){
                transform: rotate(45deg) translate(8px,8px);
            }
            &:nth-child(2){
                opacity: 0;;
            }
            &:nth-child(3){
                transform: rotate(-45deg) translate(4px,-4px);
            }
        };
    }
}

//Menu Overlay 

.menu {
    position:fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        //transform: translate3d(50%,100%,30%);
        transform: translate(0,-100%);
        @include easeout;
        &.show {
            transform: translate3d(0,0,0);
            
        }

    }
    // Branding Side
    &-branding {
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include easeout;
        &.show {
            transform: translate3d(0,0,0);
            
        }
        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/portrait.jpg');
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
        
    }
    
    .nav-item {
        transform: translate(600px,0);
        @include easeout;

        &.show {
            //Slide in from right
            transform: translate(0,0);
        }

        &.current > a {
            color: $secondary-color;
        }
    }
    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        @include easeout;
    }
}
// Delay each nav item slide by 0.1 sec
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x})  {
        transition-delay: $x * 0.1s;
    }
}